.heading{
    height:fit-content;
    width:fit-content;
    padding:10px;
    margin-left:420px;
    text-align:center;
    border:1px solid yellow; 
  }
  .text_area{
    margin-left:500px;
    border:1px solid yellow; 
  }
  .word_count
  {
    height:auto;
    width:auto;
    padding:5px;
    margin-left:500px;
    border:1px solid yellow; 
  }